
body {
    width: 900px;
    margin: auto;
    background-image: url("images/linedpaper.png");
}

.container {
    padding-top: 40px;
}

.score_row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.score_card {
    margin: auto;
}

.next_throw {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 0 10% 0 10%;
}

.result {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 5em;
    font-family: 'Bungee Inline', cursive;
}

.game_count {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    font-family: 'Fredoka One', cursive;
}

.score_keep {
    font-weight: bold;
    font-family: 'Special Elite', cursive;
}

.game_image {
    width: 75%;
}

.text_result {
    font-size: 1em;
    margin: 18px 0 10px 0;
    font-family: 'Special Elite', cursive;
}

.card-title {
    font-family: 'Fredoka One', cursive;
}